<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /MyWebsite/database/bookstore/backend/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
